
@{
    ViewData["Title"] = "Confirmation";
}
@{
    Layout = "_Layout";
}


<h1 style="text-align:center;color:forestgreen">Thankyouu For Shopping:)</h1>
<td><a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">ContinueShopping</a></td>
<br/>
<td><a asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-success">  Back to Checkout  </a></td>


