@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyCart</title>
</head>
<body>
    <img src="https://media.istockphoto.com/id/841884438/vector/empty-shopping-bag-icon-cute-disappointed-shopping-bag-flat-thin-line-design-isolated-vector.jpg?s=612x612&w=0&k=20&c=q4-NaJiL4BG8kIEIsU5N0Wgy_9zv6_dJutV1qfs1_x4=" width="60%" height="500" />
    <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Index">Add to Cart</a>
</body>
</html>