@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4;" style="color:forestgreen;background-color:khaki">Laptop Store</h1>
   
</div>
